In [2]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

# Mini dataset
ratings = pd.DataFrame({
    'Matrix': [5, 4, np.nan, 2],
    'Inception': [4, np.nan, 5, 1],
    'Toy Story': [np.nan, 3, 4, np.nan],
    'Avatar': [np.nan, 2, np.nan, 5]
}, index=['A','B','C','D'])

ratings

   Matrix  Inception  Toy Story  Avatar
A     5.0        4.0        NaN     NaN
B     4.0        NaN        3.0     2.0
C     NaN        5.0        4.0     NaN
D     2.0        1.0        NaN     5.0

In [ ]:
similarity = cosine_similarity(ratings.fillna(0))
similarity_df = pd.DataFrame(similarity, index=ratings.index, columns=ratings.index)
similarity_df

          A         B         C         D
A  1.000000  0.580015  0.487805  0.399186
B  0.580015  1.000000  0.348009  0.610257
C  0.487805  0.348009  1.000000  0.142566
D  0.399186  0.610257  0.142566  1.000000